---
import AboutCV from "@/curriculum/AboutCV.astro";
import EducationCV from "@/curriculum/EducationCV.astro";
import ExperienceCV from "@/curriculum/ExperienceCV.astro";
import HeroCV from "@/curriculum/HeroCV.astro";
import InterestsCV from "@/curriculum/InterestsCV.astro";
import LanguagesCV from "@/curriculum/LanguagesCV.astro";
import ReferencesCV from "@/curriculum/ReferencesCV.astro";
import SkillsCV from "@/curriculum/SkillsCV.astro";
import SummaryCV from "@/curriculum/SummaryCV.astro";
import VolunteerCV from "@/curriculum/VolunteerCV.astro";
import type { CV as curriculum } from "@/cv";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

type Props = curriculum;

const { CV: curriculum } = Astro.props;

const {
  basics,
  skills,
  languages,
  interests,
  work,
  education,
  volunteer,
  references,
} = curriculum;

const { summary } = basics;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<HeroCV {basics} />
<section class="mt-4">
  <div>
    <section class="float-left mr-5 w-40 space-y-4 break-words">
      <AboutCV {basics} title={t("cv.about")} />
      <SkillsCV {skills} />
      <LanguagesCV {languages} title={t("cv.languages")} />
      <InterestsCV {interests} title={t("cv.interests")} />
    </section>
    <section class="w-auto space-y-5 overflow-hidden">
      <SummaryCV summary={summary} title={t("cv.summary")} />
      <ExperienceCV {work} title={t("cv.experience")} />
      <EducationCV {education} title={t("cv.education")} />
      <VolunteerCV {volunteer} title={t("cv.volunteers")} />
      <ReferencesCV {references} title={t("cv.references")} />
    </section>
  </div>
</section>
