---
import type { Education } from "@/cv";
import TitleCV from "./TitleCV.astro";
import StartToFinish from "../StartToFinish.astro";

type Props = {
  education: Education[];
  title: string;
};

const { education, title } = Astro.props;
---

<TitleCV {title} />
<ul>
  {
    education.map(({ institution, area, studyType, startDate, endDate }) => (
      <li>
        <header class="flex items-start justify-between">
          <div>
            <h3 class="text-lg font-semibold">{institution}</h3>
            <p class="text-lg">
              {area} - <span class="font-light">{studyType}</span>
            </p>
          </div>
          <StartToFinish {startDate} {endDate} />
        </header>
      </li>
    ))
  }
</ul>
