---
import type { Work } from "@/cv";
import TitleCV from "./TitleCV.astro";
import StartToFinish from "../StartToFinish.astro";
type Props = {
  work: Work[];
  title: string;
};
const { work, title } = Astro.props;
const slicedWork = work.slice(0, 3);
---

<TitleCV {title} />
<ul class="space-y-4">
  {
    slicedWork.map(
      ({ name, position, startDate, endDate, summary, highlights }) => (
        <li>
          <header class="flex justify-between text-xs font-light">
            <h4 class="text-lg">
              {position} - <span class="text-xs">{name}</span>
            </h4>
            <StartToFinish {startDate} {endDate} />
          </header>
          <p class="py-1 text-xs">{summary}</p>
          <ul class="list-disc">
            {highlights.map((highlight) => (
              <li class="text-sm">{highlight}</li>
            ))}
          </ul>
        </li>
      ),
    )
  }
</ul>
