---
import { SITE_AUTHOR, SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { ViewTransitions } from "astro:transitions";
const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="author" content={SITE_AUTHOR} />
  <title>{title}</title>
  <ViewTransitions />
</head>
